<launch>
  <param name="/ihmc_ros/atlas/right_foot_frame_name" value="r_foot" type="string" />
  <param name="/ihmc_ros/atlas/left_foot_frame_name" value="l_foot" type="string" />

  <rosparam param="/ihmc_ros/atlas/right_arm_joint_names">
    ['r_arm_shz', 'r_arm_shx', 'r_arm_ely', 'r_arm_elx', 'r_arm_wry', 'r_arm_wrx', 'r_arm_wry2']
  </rosparam>

  <rosparam param="/ihmc_ros/atlas/left_arm_joint_names">
    ['l_arm_shz', 'l_arm_shx', 'l_arm_ely', 'l_arm_elx', 'l_arm_wry', 'l_arm_wrx', 'l_arm_wry2']
  </rosparam>
</launch>
